<%= form_with(model: @trip, local: true, class: 'ui form') do |f| %>
  <div class='field'>
    <%= f.label :trip_name %>
    <%= f.text_field :trip_name, required: true %>
  </div>
  <div class = bre>
  <%= f.submit nil, class: "ui secondary button" %>
  </div>
<% end %>
