<%= link_to 'Locations', locations_path %>
<%= link_to 'Reservations', trip_reservations_path %>
<h1>Trips</h1>
<%= link_to 'Create New Trip', new_trip_path %>

<% @trips.each do |trip| %>
  <ul>
      <%= link_to trip.trip_name, trip %>
  </ul>
<% end %>
