<head> 
<link ="stylesheet" href ="trips.scss">
</head>

<h1 class = "header" > <%= @trip %> </h1>
<div class="container">
<h1>Trip List</h1>
<div class= create_trip> <%= link_to 'Create Trip', new_trip_path(@trip) %></div>
<ul>
  <% @trips.each do |trip| %>
    <li>
      <%= link_to trip.trip_name, trip_path(trip) %>
    </li>
  <% end %>
</ul>



