<h1><%= @trip.name %></h1>
<p>what do you want to do</p>
<%= link_to 'Edit Sub', edit_trip_path(@trip) %>
<br />
<%= link_to 'Delete Sub', @trip, method: :delete %>
<br />
 <%# link_to 'view Topics', trip_path(@trip) %>