<h1>Locations List</h1>

<%= link_to 'Add Location', new_location_path %>
<br />
<h2><%= @locations.length <= 0 ? "No Locations" : "" %></h2> 

  <% @locations.each do |location| %>
  <ul>
    <li>
        <%= link_to location.loc_name, location_path(location) %>
    </li>
  </ul>  
<% end %>


